@model IEnumerable<UIT.NoSQL.Core.Domain.GroupObject>

@{
    ViewBag.Title = "Home Page";
}
@section LeftMenu {
    <section id="leftmenu">
        @Html.Action("LeftMenu", "Home", new {id = ""})
    </section>
}
<script type="text/javascript">

    function aaa() {
        $tags = simplexml_load_file("http://api.ipinfodb.com/v3/ip-country/?key=b944be0ad83f963d1e49482a1f19681b81986257e222624d0ae6da30c99d061f&ip=113.161.92.123&format=json");

        alert($tags);
    }
</script>


@*@section featured {
<section class="featured">
    <div class="content-wrapper">
        <span style="font-size:medium; color:White">Welcom to DaHu Groups. Learn more?</span>
    </div>
</section>
}*@
@section menu {
    @*<ul id="menu">
        <li>@Html.ActionLink("New Group", "Create", "Group")</li>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>*@
    <div class="BUTTONSTYLE CREATEGROUP" onclick = "createNewGroup()">Create New Group</div>
}
<script type="text/javascript">
    function createNewGroup() {
        window.location = "/Group/Create";
    }

</script>

@if ( TempData["IsNew"].Equals("True"))
{
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Configure ASP.NET Membership</h5>
        ASP.NET membership gives you a built-in way to create, store, and 
        validate user credentials (authentication). By default, membership works with a local instance of SQL Server, 
        but you can configure it to use another database.
    </li>
    <li class="two">
        <h5>Add NuGet packages and jump start your coding</h5>
        NuGet makes it easy to install and update free libraries and tools in Visual Studio. In <em>Solution Explorer</em>, 
        right-click the <em>References</em> node, select <em>Manage NuGet Packages</em>, and then pick from the extensive 
        list of packages.
    </li>
    <li class="three">
        <h5>Setup deployment to your web server</h5>
        Use Microsoft Web Deploy to quickly and easily publish your application to a web server. 
        In <em>Solution Explorer</em>, right-click your project, select <em>Publish</em>, 
        and choose one of the many options to get your code deployed and running on the web.
    </li>

</ol>

<section class="features">
    <section class="feature">
        <img src="~/Images/aspNetHome.png" alt="" />
        <h3>Home of ASP.NET</h3>
        <p>
            ASP.NET is a free, fully supported Web application framework that helps you create standards-based web solutions. 
            Whether you're new to ASP.NET or an experienced developer, the <a href="http://asp.net">ASP.NET website</a> 
            is your source for news, training, downloads, and support.
        </p>
    </section>
    <section class="feature">
        <img src="~/Images/NuGetGallery.png" alt="" />
        <h3>NuGet Gallery</h3>
        <p>
            NuGet is a Visual Studio extension that makes it easy to install and update open source libraries and tools in 
            Visual Studio. To see available packages, visit the <a href="http://nuget.org">NuGet gallery</a>.
            You can also develop your own package and share it in the gallery.
        </p>
    </section>
    <section class="feature">
        <img src="~/Images/findHosting.png" alt="" />
        <h3>Find Web Hosting</h3>
        <p>
            You can easily find a web hosting company that offers the right mix of features and price for your applications. 
            Visit <a href="http://microsoft.com/web/hosting" title="Microsoft/Web Website">Microsoft.com/web</a> to 
            explore offerings from many providers.
        </p>
    </section>
</section>
}
else
{    
    
    <script type="text/javascript">
        var pageHome = 0;
        var maxPageHome = @TempData["paging"] -1;

        $(document).ready(function () {
            
            $("#main").scroll(function () {
                
                if ((this.scrollHeight - $(this).scrollTop()) - $(this).innerHeight() < 10) {
                    LoadHomePaging();
                }
            });
        });

        function LoadHomePaging() {
            pageHome += 1;
            if (pageHome > maxPageHome) {
                return;
            }
            $.post("/Home/IndexMore", getpagestr(pageHome), function (data) {
                $("#tbGroup tr:last").after(data);
            });
        }

        function getpagestr(_pageHome) {
            var qstr =
                {
                    page: _pageHome
                };

            return qstr;
        }
    </script>
    
    <table id="tbGroup" style="width:100%;">

    @foreach (var item in Model)
    {
        <tr>
            <td style="width:70%;">
                <div class="GLTURNLNJ">
                    <div class="GLTURNLCK">
                        <div class="GLTURNLKW"></div>
                      
                        @Html.ActionLink(item.GroupName, "Detail", "Group", new { id = item.Id }, null)
                    </div>
                    <div class="GLTURNLNK">
                        @Html.DisplayFor(modelItem => item.Description)
                    </div>
                </div>
            </td>
            <td>
                <div>@item.NewEvent.Title</div>
                <b>@item.NewEvent.CreateBy</b>
                <div>@item.NewEvent.CreateDate</div>
            </td>
        </tr>
    }

    </table>
    
}