@model UIT.NoSQL.Core.Domain.UserObject

@{
    ViewBag.Title = @Model.FullName + "'s Profile";
}

@section LeftMenu {
    <section id="leftmenu">
        @Html.Action("LeftMenu", "Home")
    </section>
}

<h2>Account setting</h2><br />

<fieldset>
    <legend>UserObject</legend>
    <div id="profile">
        <div class="item">
            <div class="left">
                 <span style="width:100px">@Html.DisplayNameFor(model => model.UserName)</span>
            </div>
            <div class="right">
                @Html.DisplayFor(model => model.UserName)
            </div>
            
        </div>

        <div class="item">
            <div class="left">
             <span style="width:100px">@Html.DisplayNameFor(model => model.Email)</span>
                </div>
            <div class="right">
                @Html.DisplayFor(model => model.Email)
            </div>
        </div>

        <div class="item">
            <div class="left">
             <span style="width:100px">@Html.DisplayNameFor(model => model.FullName)</span>
                </div>
            <div class="right">
                @Html.DisplayFor(model => model.FullName)
            </div>
        </div>

        <div class="item">
            <div class="left">
             <span style="width:100px">@Html.DisplayNameFor(model => model.CreateDate)</span>
                </div>
            <div class="right">
                @Html.DisplayFor(model => model.CreateDate)
            </div>
        </div>

        <div class="item">
            <div class="left">
             <span style="width:100px">@Html.DisplayNameFor(model => model.Region)</span>
                </div>
            <div class="right">
                @Html.DisplayFor(model => model.Region)
            </div>
        </div>
        <div class="clear"></div>

        <div>
            <a href="~/Account/ChangePassword">Change Password</a>
        </div>
    </div>
</fieldset>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
