@model IEnumerable<UIT.NoSQL.Core.Domain.DenormalizedTopic<UIT.NoSQL.Core.Domain.TopicObject>>
    
<Style>
    .GI2MSK2DGQB .GI2MSK2DGL {
padding: 4px;
}
.GI2MSK2DGL {
padding: 10px;
position: relative;
height: 34px;
}
.GI2MSK2DGQB .GI2MSK2DGK {
left: 4px;
}
.GI2MSK2DGK {
position: absolute;
left: 10px;
}
.GI2MSK2DGQB .GI2MSK2DJK {
top: 4px;
bottom: 4px;
left: 70px;
}
.GI2MSK2DJK {
position: absolute;
top: 10px;
bottom: 10px;
left: 86px;
right: 114px;
}
.GI2MSK2DEL {
position: absolute;
overflow: hidden;
left: 0;
right: 0;
top: -2px;
}
.GI2MSK2DDL {
display: block;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}
@*a.GI2MSK2DNH, a.GI2MSK2DNH:visited {
color: 
#222;
text-decoration: none;
}
a.GI2MSK2DNH, a.GI2MSK2DNH:visited {
color: 
#222;
text-decoration: none;
}
a:visited {
color: 
#61C;
}
a {
text-decoration: none;
color: 
#15C;
cursor: pointer;
}*@
.GI2MSK2DEK {
color: 
#666;
white-space: nowrap;
}
.GI2MSK2DEK {
position: absolute;
overflow: hidden;
left: 0;
right: 0;
top: 17px;
}
</Style>

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section LeftMenu {
    <section id="leftmenu">
        @Html.Action("LeftMenu", "Home")
    </section>
}
@section menu {
    <section id="topmenu">
        @if (ViewBag.Role == "Owner" || ViewBag.Role == "Manager" || ViewBag.Role == "Member")
        {
            <div class="BUTTONSTYLE CREATETOPIC" onclick = "createNewTopic('@ViewBag.GroupId')">Create New Topic</div>
            <div class="BUTTONSTYLE MANAGERBUTTON" onclick = "manage('@ViewBag.GroupId')">Manager</div>
        }
        else
        {
            if(ViewBag.Role == "JoinRequest")
            {
                <div tabindex="0" class="BUTTONSTYLE JOINGROUP">Wait for Accepting...</div>
            }
            else
            {
                <div tabindex="0" class="BUTTONSTYLE JOINGROUP">Register for discussion</div>
            }
        }
    </section>
}

    <script type="text/javascript">
        $(document).ready(function () {
            $('#deleteTopic').css({ "visibility": "hidden" });
            $('.topic').live('click', function () {
                if ($('.topic[checked!=true]').length == 0) {
                    $('#checkAll').attr('checked', 'checked');
                    $('#deleteTopic').css({ "visibility": "visible" });
                }
                else {
                    $('#checkAll').removeAttr('checked');
                    if ($('.topic').is(':checked')) {
                        $('#deleteTopic').css({ "visibility": "visible" });
                    } else {
                        $('#deleteTopic').css({ "visibility": "hidden" });
                    }
                }


            });
            $('#deleteTopic').live('click', function () {
                var checkstr = confirm('Are you sure you want to delete this?');
                if (checkstr == true) {
                    var i;
                    var checkboxes = $('.topic:checkbox:checked');
                    var url = "/Topic/DeleteTopic";
                    var ids = new Array(checkboxes.length);
                    for (i = 0; i < checkboxes.length; i++) {
                        ids[i] = checkboxes[i].value;
                    }
                    $.post(url, { topicIds: ids.toString() }, function (data) {
                        if (data == "success") {
                            for (var i = 0; i < ids.length; i++) {
                                $("#" + ids[i]).remove();
                            }
                        }
                        if ($('.topic').length == 0) {
                            $('#tableTopic').remove();
                        }
                    });
                }

            });

            $('#checkAll').click(function () {
                if ($(this).attr('checked')) {
                    $('.topic').attr('checked', 'checked');
                    $('#deleteTopic').css({ "visibility": "visible" });
                }
                else {
                    $('.topic').removeAttr('checked');
                    $('#deleteTopic').css({ "visibility": "hidden" });
                }
            });
        });

        function createNewTopic(id) {
            window.location = "/Topic/Create/" + id;
        }
        function manage(id) {
            //if (role == 'Member') {
            //    window.location = "/Group/ManagerUser/" + id;
            //}
            //else if(role == 'Owner' || role == 'Manager') {
                window.location = "/Group/Manager/" + id;
            //}
        }

        function xmlhttpPost(_id) {

            $.post("/Group/Join", { id: _id }, function (data) {
                alert(data);
            });

        }
    </script>

<h2>@ViewBag.GroupName</h2><br/>
<table id="tableTopic" cellspacing="0" cellpadding="0" width="100%">
@if (Model.Any(t => t.isDeleted == false))
{
    <tr style="background-color:White">
        @if (ViewBag.Role == "Owner" || ViewBag.Role == "Manager")
        {
        <td align="center" width="4%">
            <input type="checkbox" id="checkAll" value="checkAll" title="Check All"/>
        </td>
        }
        <td style="padding-top:4px;padding-left:4px" width="5%">
            <div id="deleteTopic" style="margin-bottom: 2px">
                <span class="BUTTONSTYLE DELETETOPIC">Delete</span>
            </div>
        </td>
        <td style="padding-left:10px" width="40%">Topic</td>
        <td style="padding-left:10px" width="8%">No.Commets</td>
        <td style="padding-left:10px" width="8%">No.Views</td>
        <td style="padding-left:10px" width="10%">Create By</td>
        <td style="padding-left:10px" width="25%">Last Update</td>
    </tr>
}
@foreach (var item in Model)
{
    if (item.isDeleted == false)
    {
        <tr id="@item.Id" style="background-color:White">
                @if (ViewBag.Role == "Owner" || ViewBag.Role == "Manager")
                { 
                    <td style="border-top: 1px solid #DDDCDC;border-left: 1px solid #DDDCDC" align="center" width="4%">
                        <input type="checkbox" value="@item.Id" class="topic"/>
                    </td>
                }
                <td style="padding-top:4px;padding-left:4px;border-top: 1px solid #DDDCDC" width="5%">
                    <img src="../../Images/clear.cache.gif" style="background-image: url(../../Images/gm_icon.png); width: 34px; height: 34px; background-position: -128px 0px; background-repeat: no-repeat no-repeat;" border="0">
                </td>
                @if (ViewBag.Role == "unlogin" || ViewBag.Role == "JoinRequest" || item.ListUserTopic == null || item.ListUserTopic.Exists(ut => ut.UserId == ViewBag.UserId) == false || item.ListUserTopic.Find(ut => ut.UserId == ViewBag.UserId).NumberOfNewPosts <= 0)
                {
                    <td style="padding-left:10px;border-top: 1px solid #DDDCDC" width="40%">
                        @Html.ActionLink(item.TopicName as string, "Detail", "Topic", new { id = item.Id }, null)       
                    </td>
                }
                else
                {
                    <td style="padding-left:10px;border-top: 1px solid #DDDCDC;font-weight:bold;" width="40%">
                        @Html.ActionLink(item.TopicName + "     (" + item.ListUserTopic.Find(ut => ut.UserId == ViewBag.UserId).NumberOfNewPosts + ")" as string, "Detail", "Topic", new { id = item.Id }, null)       
                    </td>
                }
                <td style="padding-left:10px;border-top: 1px solid #DDDCDC" width="8%">
                    @Html.DisplayFor(modelItem => item.NumberOfComment)
                </td>
                <td style="padding-left:10px;border-top: 1px solid #DDDCDC" width="8%">
                    @Html.DisplayFor(modelItem => item.NumberOfView)
                </td>
                <td style="padding-left:10px;border-top: 1px solid #DDDCDC" width="15%">
                    @Html.DisplayFor(modelItem => item.CreateBy.FullName)
                </td>
                <td style="padding-left:10px;border-top: 1px solid #DDDCDC;border-right: 1px solid #DDDCDC; border-bottom-style:" width="20%">
                    @Html.DisplayFor(modelItem => item.LastModified)
                </td>
             
            </tr>
    }

}
</table>




