@{
    Layout = null;
}


@if (Session["user"] != null)
{
    
    <script type="text/javascript">

        function GetManager(action, id) {
            //$("#MyContent").html("<p>Loading...</p>");
            var node = document.getElementsByClassName("manager");
            for (var i = 0; i < node.length; i++) {
                node[i].style.color = "#333";
            }
            document.getElementById(action).style.color = "#D14836";
            url = "/Group/" + action;
            $.post(url, { id: id }, function (data) {
                $("#MyContent").html(data);
            });
        }
        
        $(document).ready(function () {
            GetManager('Member','@TempData["GroupId"]');
        });
    </script>
    
    <ul>
        <li>
            <a href="/Group/Detail/@TempData["GroupId"]" class="GroupSelected">
                @TempData["GroupName"]
            </a>
        </li>

        <hr />

        
        <li>
            <a id="Member" class="manager" href="javascript:{}" onclick="GetManager('Member','@TempData["GroupId"]')">Member</a>
        </li>
        <li>
            <a id="JoinRequest" class="manager" href="javascript:{}" onclick="GetManager('JoinRequest','@TempData["GroupId"]')">Join Request</a>            
        </li>
        
        <li>
            <a id="Setting" class="manager" href="javascript:{}" onclick="GetManager('Setting','@TempData["GroupId"]')">Setting</a>
        </li>
        
        
        <hr />

        <li>
            <a href="#">
                Favorites
            </a>
        </li>

    </ul>
}