@{
    Layout = null;
}
    
<ul id="menu">
    <li>@Html.ActionLink("Create New Topic", "Create", "Topic", new { id = TempData["GroupId"] }, null)</li>   
    <li>@Html.ActionLink("Manager", "Manager", "Group", new { id = TempData["GroupId"] }, null)</li>     
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("About", "About", "Home")</li>
    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
</ul>