@{
    Layout = null;
}
    <script type="text/javascript">
        function BackGroup(id) {
            window.location = "/Group/Detail/" + id;
        }
        function createNewTopic(id) {
            window.location = "/Topic/Create/" + id;
        }
        function manage(id) {
            window.location = "/Group/Manager/" + id;
        }

        function xmlhttpPost(_id) {

            $.post("/Group/Join", { id: _id }, function (data) {
                alert(data);
            });

        }
    </script>
<div>
    
    @if( TempData["account"].Equals("PostReply"))
    {
            <div tabindex="0" class="BUTTONSTYLE GLTURNLHW" onclick = "BackGroup('@TempData["GroupId"]');">
                <img src="../../Images/clear.cache.gif" style="width:20px;height:20px;background:url(/Images/gm_icon.png) no-repeat -290px -41px;" border="0" alt="Back" />
            </div>

            <div tabindex="0" class="BUTTONSTYLE POSTBUTTON POSTORREPLY">POST REPLY</div>
    }
    
    else if (TempData["account"].Equals("WaitForAccepting"))
    {
            <div tabindex="0" class="BUTTONSTYLE GLTURNLHW" onclick = "BackGroup('@TempData["GroupId"]');">
                <img src="../../Images/clear.cache.gif" style="width:20px;height:20px;background:url(/Images/gm_icon.png) no-repeat -290px -41px;" border="0" alt="Back" />
            </div>

            <div tabindex="0" class="BUTTONSTYLE JOINGROUP">Wait for Accepting...</div>
    }
    else if (TempData["account"].Equals("JoinGroup"))
    {
            <div tabindex="0" class="BUTTONSTYLE GLTURNLHW" onclick = "BackGroup('@TempData["GroupId"]');">
                <img src="../../Images/clear.cache.gif" style="width:20px;height:20px;background:url(/Images/gm_icon.png) no-repeat -290px -41px;" border="0" alt="Back" />
            </div>

            <div tabindex="0" class="BUTTONSTYLE JOINGROUP" onclick = "xmlhttpPost('@TempData["GroupId"]')">Join group for discussion</div>
    }
    else if (TempData["account"].Equals("Register"))
    {
        <div tabindex="0" class="BUTTONSTYLE GLTURNLHW" onclick = "BackGroup('@TempData["GroupId"]');">
            <img src="../../Images/clear.cache.gif" style="width:20px;height:20px;background:url(/Images/gm_icon.png) no-repeat -290px -41px;" border="0" alt="Back" />
        </div>

        <div tabindex="0" class="BUTTONSTYLE JOINGROUP"><a data-dialog-title="Registration" href="/Account/Register" id="registerLink2" class="aRegister" style="color:white;text-decoration:none">Register for discussion</a></div>
    }

    else if (TempData["account"].Equals("Manage"))
    {
            <div tabindex="0" class="BUTTONSTYLE GLTURNLHW" onclick = "BackGroup('@TempData["GroupId"]');">
                <img src="../../Images/clear.cache.gif" style="width:20px;height:20px;background:url(/Images/gm_icon.png) no-repeat -290px -38px;" border="0" alt="Back" />
            </div>
    }
    else if (TempData["account"].Equals("orther"))
    {
        <div tabindex="0" class="BUTTONSTYLE GLTURNLHW" onclick = "BackGroup('@TempData["GroupId"]');">
            <img src="../../Images/clear.cache.gif" style="width:20px;height:20px;background:url(/Images/gm_icon.png) no-repeat -290px -38px;" border="0" alt="Back" />
        </div>
    }
        
</div>