@{
    Layout = null;
}
    <script type="text/javascript">
        function BackGroup(id) {
            window.location = "/Group/Detail/" + id;
        }
        function createNewTopic(id) {
            window.location = "/Topic/Create/" + id;
        }
        function manage(id) {
            window.location = "/Group/Manager/" + id;
        }
    </script>
<div>
    
    @if( TempData["account"].Equals("PostReply"))
    {
            <div tabindex="0" class="BUTTONSTYLE GLTURNLHW" onclick = "BackGroup('@TempData["GroupId"]');">
                <img src="../../Images/clear.cache.gif" style="width:20px;height:20px;background:url(/Images/gm_icon.png) no-repeat -290px -38px;" border="0" alt="Back" />
            </div>

            <div tabindex="0" class="BUTTONSTYLE POSTBUTTON POSTORREPLY">POST REPLY</div>
    }
    @if (TempData["account"].Equals("WaitForAccepting"))
    {
            <div tabindex="0" class="BUTTONSTYLE GLTURNLHW" onclick = "BackGroup('@TempData["GroupId"]');">
                <img src="../../Images/clear.cache.gif" style="width:20px;height:20px;background:url(/Images/gm_icon.png) no-repeat -290px -38px;" border="0" alt="Back" />
            </div>

            <div tabindex="0" class="BUTTONSTYLE JOINGROUP">Wait for Accepting...</div>
    }
    @if (TempData["account"].Equals("JoinGroup"))
    {
            <div tabindex="0" class="BUTTONSTYLE GLTURNLHW" onclick = "BackGroup('@TempData["GroupId"]');">
                <img src="../../Images/clear.cache.gif" style="width:20px;height:20px;background:url(/Images/gm_icon.png) no-repeat -290px -38px;" border="0" alt="Back" />
            </div>

            <div tabindex="0" class="BUTTONSTYLE JOINGROUP">Register for discussion</div>
    }

    @if (TempData["account"].Equals("Manage"))
    {
            <div tabindex="0" class="BUTTONSTYLE GLTURNLHW" onclick = "BackGroup('@TempData["GroupId"]');">
                <img src="../../Images/clear.cache.gif" style="width:20px;height:20px;background:url(/Images/gm_icon.png) no-repeat -290px -38px;" border="0" alt="Back" />
            </div>
    }
    @*<div style="float:right;">
        <ul id="menu">
            <li>@Html.ActionLink("Create New Topic", "Create", "Topic", new { id = TempData["GroupId"] }, null)</li>   
            <li>@Html.ActionLink("Manager", "Manager", "Group", new { id = TempData["GroupId"] }, null)</li>
        </ul>
    </div>*@
        
</div>