@model IEnumerable<UIT.NoSQL.Core.Domain.GroupObject>

@{
    ViewBag.Title = "Home Page";
}
@section LeftMenu {
    <section id="leftmenu">
        @Html.Action("LeftMenu", "Home", new { id = "" })
    </section>
}
<script type="text/javascript">

    function aaa() {
        $tags = simplexml_load_file("http://api.ipinfodb.com/v3/ip-country/?key=b944be0ad83f963d1e49482a1f19681b81986257e222624d0ae6da30c99d061f&ip=113.161.92.123&format=json");

        alert($tags);
    }
</script>


@section menu {

    @if(@ViewBag.IsLogin)
    {
        <div class="BUTTONSTYLE CREATEGROUP" onclick = "createNewGroup()">Create New Group</div>
    }
}
<script type="text/javascript">
    function createNewGroup() {
        window.location = "/Group/Create";
    }

</script>

@if (TempData["IsNew"].Equals("True"))
{
    <table id="tbGroup" style="width:100%;">

    @foreach (var item in Model)
    {
        <tr>
            <td style="width:70%;">
                <div class="GLTURNLNJ">
                    <div class="GLTURNLCK">
                        <div class="GLTURNLKW"></div>
                      
                        @Html.ActionLink(item.GroupName, "Detail", "Group", new { id = item.Id }, null)
                    </div>
                    <div class="GLTURNLNK">
                        @Html.DisplayFor(modelItem => item.Description)
                    </div>
                </div>
            </td>
            <td>
                <div>@item.NewEvent.Title</div>
                <a href="#">
                    @item.NewEvent.CreateBy
                </a>
                <div>@item.NewEvent.CreateDate</div>
            </td>
        </tr>
    }

    </table>

}
else
{    
    
    <script type="text/javascript">
        var pageHome = 0;
        var maxPageHome = @TempData["paging"] -1;

        $(document).ready(function () {
            
            $("#main").scroll(function () {
                
                if ((this.scrollHeight - $(this).scrollTop()) - $(this).innerHeight() < 10) {
                    LoadHomePaging();
                }
            });
        });

        function LoadHomePaging() {
            pageHome += 1;
            if (pageHome > maxPageHome) {
                return;
            }
            $.post("/Home/IndexMore", getpagestr(pageHome), function (data) {
                $("#tbGroup tr:last").after(data);
            });
        }

        function getpagestr(_pageHome) {
            var qstr =
                {
                    page: _pageHome
                };

            return qstr;
        }
    </script>
    
    <table id="tbGroup" style="width:100%;">

    @foreach (var item in Model)
    {
        <tr>
            <td style="width:70%;">
                <div class="GLTURNLNJ">
                    <div class="GLTURNLCK">
                        <div class="GLTURNLKW"></div>
                      
                        @Html.ActionLink(item.GroupName, "Detail", "Group", new { id = item.Id }, null)
                    </div>
                    <div class="GLTURNLNK">
                        @Html.DisplayFor(modelItem => item.Description)
                    </div>
                </div>
            </td>
            <td>
                <div>@item.NewEvent.Title</div>
                
                <a href="/Account/ViewMember?userId=@item.NewEvent.UserId&groupId=@item.Id">
                    @item.NewEvent.CreateBy
                </a>
                <div>@item.NewEvent.CreateDate</div>
            </td>
        </tr>
    }

    </table>
    
}