<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/css")" rel="stylesheet" type="text/css" />
        <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/themes/base/css")" rel="stylesheet" type="text/css" />
        <link href="../../Content/CustomizeCSS.css" rel="stylesheet" type="text/css" />
        <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Scripts/js")"></script>
        <script src="../../Plugin/ckeditor/ckeditor.js"></script>
        <meta name="viewport" content="width=device-width" />

        <script type="text/javascript">
            function AutoResize() {
                var windowWidth = window.innerWidth;
                var windowHeight = window.innerHeight;

                var main = document.getElementById("main");
                var DivNav = document.getElementById("DivNav");
                main.style.width = (windowWidth - 240) + "px";
                main.style.height = (windowHeight - 130) + "px";
                DivNav.style.width = (windowWidth - 240) + "px";

                var leftmenu = document.getElementById("leftmenu");
                leftmenu.style.height = (windowHeight - 130) + "px";
            }
            window.onresize = AutoResize;

            function PostSearch() {

                $.post("/Search/Index", getquerystring(), function (data) {
                    $("#SectionMain").html(data);
                });

            }
            function getquerystring() {
                var _searchStr = document.getElementById("searchStr").value;
                
                var qstr =
                    {
                        searchStr: _searchStr,
                        page: 0
                    };

                return qstr;
            }
        </script>
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="float-left site-title">@Html.ActionLink("DaHu Group.", "Index", "Home")</p>

                    <div class="float-right search">

                        <form action="/Search/Index" method="post" id="SearchForm"
                            onsubmit="xmlhttpPost(); return false;">

                            <input type="text" placeholder="Search here." class="text" id="searchStr" />
                            @*<a href="javascript:{}" onclick="xmlhttpPost();">
                                <img src="/Images/system-search-hi.png" />
                            </a>*@
                            <div tabindex="0" class="BUTTONSTYLE gbqfb" onclick = "PostSearch();">
                                Search
                            </div>
                        </form>

                    </div>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div id="DivNav" class="float-right">                
                @*<nav>
                    @RenderSection("menu", required: false)
                </nav>*@
            </div>

            <div class="clear"></div>
        </header>
        <div id="body">
            @*
            @RenderSection("featured", required: false)
            thay dong nay bang doan code duoi
            *@
            
            <div class="featured">
                <div class="content-wrapper">
                    <span style="font-size:medium; color:White">Welcom to DaHu Groups. Learn more?</span>
                </div>
            </div>

            <div style="overflow:hidden">
                <div style="float:left;width:240px">
                    <div style="padding: 15px 10px 10px 25px">
                        <span style="color:#DD4B39; font-size:medium">Group</span>
                    </div>
                </div>
                <div style="float:left">
                    <div style="padding: 10px 10px 10px 25px">
                        @RenderSection("menu", required: false)
                    </div>    
                </div>
            </div>
            <div style="width:100%; border-bottom: 1px solid rgba(0, 0, 0, 0.1)">
            </div>
            @RenderSection("LeftMenu", required: false)
            
            <div id="main">
                @*@RenderSection("featured", required: false)*@
                <section id="SectionMain" class="content-wrapper main-content clear-fix">                    
                        @RenderBody()                    
                </section>
            </div>
            <div class="clear-fix"></div>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
                <div class="float-right">
                    <ul id="social">
                        <li><a href="http://facebook.com" class="facebook">Facebook</a></li>
                        <li><a href="http://twitter.com" class="twitter">Twitter</a></li>
                    </ul>
                </div>
            </div>
        </footer>

        <script type="text/javascript" language="javascript">
            AutoResize();
        </script>
    </body>
</html>
