<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/css")" rel="stylesheet" type="text/css" />
        <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/themes/base/css")" rel="stylesheet" type="text/css" />
        <link href="../../Content/CustomizeCSS.css" rel="stylesheet" type="text/css" />
        <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Scripts/js")"></script>
        <script src="../../Plugin/ckeditor/ckeditor.js"></script>
        <meta name="viewport" content="width=device-width" />

        <script type="text/javascript">
            $(document).ready(function () {
                $('#leftmenu').css("overflow-y", "hidden");
                $('#leftmenu').mouseover(function () {
                    $(this).css("overflow-y", "auto");
                }).mouseout(function () {
                    $(this).css("overflow-y", "hidden");
                });
                $('#SectionMain').css("border-left", '1px solid rgba(0, 0, 0, 0.1)');
            });
            function AutoResize() {
                var windowWidth = window.innerWidth;
                var windowHeight = window.innerHeight;

                var main = document.getElementById("main");

                main.style.width = (windowWidth - 240) + "px";
                main.style.height = (windowHeight - 180) + "px";
//                var DivNav = document.getElementById("DivNav");
//                DivNav.style.width = (windowWidth - 240) + "px";

                var leftmenu = document.getElementById("leftmenu");
                leftmenu.style.height = (windowHeight - 180) + "px";           
            }
            window.onresize = AutoResize;

            function PostSearch() {

                $.post("/Search/Index", getquerystring(), function (data) {
                    $("#SectionMain").html(data);
                });

            }
            function getquerystring() {
                var _searchStr = document.getElementById("searchStr").value;
                
                var qstr =
                    {
                        searchStr: _searchStr
                    };

                return qstr;
            }
        </script>
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    @*<p class="float-left site-title">@Html.ActionLink("DaHu Groups", "Index", "Home")</p>*@
                    <div style="overflow:hidden">
                        <div style="float:left;width:197px; padding-top:18px">
                             <a href='/' class="aimg"><img src="../../Images/logo-DaHuGroup.gif" alt="Home" /></a>
                        </div>                   
                        <div style="float:left">
                            <div class="float-right search">
                                <form action="/Search/Index" method="post" id="SearchForm"
                                    onsubmit="PostSearch(); return false;">
                                    <input type="text" placeholder="Search here." class="text" id="searchStr" />
                                    <div id="idsearch" tabindex="0" class="BUTTONSTYLE gbqfb" onclick = "PostSearch();">
                                        Search
                                    </div>
                                </form>
                            </div>
                        </div>                
                    </div>

                    @*<img src="../../Images/logo-DaHuGroup.png" />
                    <div class="float-right search">
                        <form action="/Search/Index" method="post" id="SearchForm"
                            onsubmit="xmlhttpPost(); return false;">

                            <input type="text" placeholder="Search here." class="text" id="searchStr" />
                            @*<a href="javascript:{}" onclick="xmlhttpPost();">
                                <img src="/Images/system-search-hi.png" />
                            </a>//
                            <div id="idsearch" tabindex="0" class="BUTTONSTYLE gbqfb" onclick = "PostSearch();">
                                Search
                            </div>
                        </form>
                    </div>*@
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
            @*<div id="DivNav" class="float-right">                
                <nav>
                    @RenderSection("menu", required: false)
                </nav>
            </div>*@

            <div class="clear"></div>
        </header>
        <div id="body">
            <div align="center" style="height:0px">   
            <span id="message" class="MESSAGE" style="display:none">
                Replying...
            </span>
            </div>
            
            @*
            @RenderSection("featured", required: false)
            thay dong nay bang doan code duoi
            *@
            @*<div style="overflow:hidden">
                <div style="float:left;width:45%;height:50px">
                    <div style="background-color: #4D90FE;color: #3e5667">
                            <span style="font-size:medium; color:White; vertical-align:middle">Welcom to DaHu Groups. Learn more?</span>
                    </div>  
                </div>                   
                <div style="float:left;width:55%">
                    <div style="background-color: #4D90FE;color: #3e5667">
                    sfdf
                    </div>  
                </div>                
                    
            </div>*@
            @*<table style="background-color: #4D90FE;color: #3e5667;width:100%">
                <tr style="height:40px">
                    <td style="padding-left:50px; width:45%">
                        <span style="font-size:medium; color:White; vertical-align:middle">Welcom to DaHu Groups. Learn more?</span>
                    </td>
                    <td style="width:55%">
                        <span id="message" class="MESSAGE" style="display:none">
                            Replying...
                        </span>
                    </td>
                </tr>
            </table>*@

            <div style="overflow:hidden">
                <div style="float:left;width:240px;height:54px">
                    <div style="padding: 15px 10px 10px 25px;height: 25px;color:#DD4B39;font-size:25px;">
                        @*<span style="color:#DD4B39;font-size:25px;">Groups</span>*@
                        <span>Groups</span>
                    </div>
                </div>
                <div style="float:left">
                    <div style="padding: 15px 10px 10px 25px;">
                        @RenderSection("menu", required: false)
                    </div>    
                </div>
            </div>
            <div style="width:100%; border-bottom: 1px solid rgba(0, 0, 0, 0.1)">
            </div>
            
            @RenderSection("LeftMenu", required: false)

            <div id="main">
                @*@RenderSection("featured", required: false)*@
                <section id="SectionMain" class="content-wrapper main-content clear-fix">                    
                        @RenderBody()                    
                </section>
            </div>
            
            <div class="clear-fix"></div>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
                <div class="float-right">
                    <ul id="social">
                        <li><a href="http://facebook.com" class="facebook">Facebook</a></li>
                        <li><a href="http://twitter.com" class="twitter">Twitter</a></li>
                    </ul>
                </div>
            </div>
        </footer>

        <script type="text/javascript" language="javascript">
            AutoResize();
        </script>
    </body>
</html>
