@{
    ViewBag.Title = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section LeftMenu {
    <section id="leftmenu">
        @Html.Action("LeftMenu", "Home")
    </section>
}

<script type="text/javascript">
    function xmlhttpPost(_id) {

        $.post("/Group/Join", {id: _id}, function (data) {
            alert(data);
        });

    }
</script>
@section menu {
    <ul id="menu">
        @if(!TempData["GroupId"].Equals("null"))
        {
        @*<li>
            <a href="javascript:{}" onclick="xmlhttpPost('@TempData["GroupId"]')">Join Group</a>
        </li>    *@
            <div tabindex="0" class="BUTTONSTYLE JOINGROUP" onclick = "xmlhttpPost('@TempData["GroupId"]')">Join Group</div>
        }

        @*<li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
</ul>
}

<h2>Access Denied</h2>
You must be member of this group to view page.