@model IEnumerable<UIT.NoSQL.Core.Domain.UserGroupObject>
@{
    Layout = null;
}

@{
    ViewBag.Title = "JoinRequest";
}
    <script type="text/javascript" src="../../Scripts/jquery-1.6.2.js"></script>
<script type="text/javascript">
    function xmlhttpPost(url, _id) {

        $.post(url, { id: _id }, function (data) {
            $("#" + _id).remove();
            alert(data);
        });

    }

</script>
<h2>Join Requests</h2>
@if (Model == null || Model.Count() == 0)
{
    <h3>No request</h3>
}
else
{
<table border="1" style="border-spacing:0;">
    <tr>
        <th>
            @Html.DisplayName("User Name")
        </th>
        <th>
            @Html.DisplayName("Full Name")
        </th>
        <th>
            Accept Member
        </th>
        <th>
            Reject
        </th>
    </tr>

@foreach (var item in Model)
{
    <tr id="@item.Id" style="background-color:White;border: 1px solid #DDDCDC">
        <td width="25%">
            @Html.DisplayFor(modelItem => item.User.UserName)
        </td>
        <td width="25%">
            @Html.DisplayFor(modelItem => item.User.FullName)
        </td>
        <td width="15%" style="text-align:center">
            <a href="javascript:{}" onclick="xmlhttpPost('/Group/ActiveRequest','@item.Id')">Accept Member</a>
        </td>
        <td width="15%" style="text-align:center">
            <a href="javascript:{}" onclick="xmlhttpPost('/Group/RejectRequest/','@item.Id')">Reject</a>
        </td>
    </tr>
}

</table>
}