@model UIT.NoSQL.Core.Domain.UserGroupObject

@{
    ViewBag.Title = "ManagerUser";
    Layout = null;
}


@section menu {
    <section id="topmenu">
        @Html.Action("TopMenuUser", "Group", new{action = "orther"})
    </section>
}

<script type="text/javascript">
    function xmlhttpPost(strURL) {
        
        $.post(strURL, getUserObject(), function (data) {
            alert(data);
        });

    }
    function getUserObject() {
        var id = document.getElementById("Id").value;
        var groupId = document.getElementById("GroupId").value;
        var userId = document.getElementById("UserId").value;
        var isReceiveEmail = document.getElementById("IsReceiveEmail").checked;
        
        var qstr = 
            {
                Id: id,
                GroupId: groupId,
                UserId: userId,
                IsReceiveEmail: isReceiveEmail
                
            };
        
        return qstr;
    }
</script>

<h2>User setting</h2><br />

<div>
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>UserGroupObject</legend>

        <input type="hidden" id="Id" value="@Model.Id" />
        <input type="hidden" id="GroupId" value="@Model.GroupId" />
        <input type="hidden" id="UserId" value="@Model.UserId" />
        
        <div id="profile">
            <div class="item">
                <div class="left">
                     <span style="width:100px">@Html.DisplayNameFor(model => model.GroupName)</span>
                </div>
                <div class="right">
                    @Html.DisplayFor(model => model.GroupName)
                </div>            
            </div>
            <div class="item">
                <div class="left">
                     <span style="width:100px">@Html.DisplayNameFor(model => model.GroupRole.GroupName)</span>
                </div>
                <div class="right">
                    @Html.DisplayFor(model => model.GroupRole.GroupName)
                </div>            
            </div>
            <div class="item">
                <div class="left">
                     <span style="width:100px">@Html.DisplayNameFor(model => model.JoinDate)</span>
                </div>
                <div class="right">
                    @Html.DisplayFor(model => model.JoinDate)
                </div>            
            </div>
            <div class="item">
                <div class="left">
                     <span style="width:100px">@Html.DisplayNameFor(model => model.IsReceiveEmail)</span>
                </div>
                <div class="right">
                    @Html.EditorFor(model => model.IsReceiveEmail)
                </div>            
            </div>
        </div>

        <p>
            <input type="button" value="Save" onclick="xmlhttpPost('/Group/UpdateManagerUser'); return false;" />
        </p>
    </fieldset>
</div>