@model IEnumerable<UIT.NoSQL.Web.Models.ListUserModels>
@{
    Layout = null;
}
@{
    ViewBag.Title = "Member";
}
<script type="text/javascript">
    function remove(_fullname, _id){
        
        var confirm = window.confirm('Are you sure to remove ' + _fullname + ' ?');
        if (confirm == true) {
            $.post("/Group/RemoveMember", { id: _id }, function (data)
            {
                if (data == "success") {
                    $("#" + _id).remove();
                }
                alert(data);
            });
        }
    }

    function BeginChange(_userGroupID) {
        document.getElementById("dropdownlist " + _userGroupID).style.visibility = "visible";
        document.getElementById("currentRole " + _userGroupID).style.visibility = "hidden";

        var currentRole = document.getElementById("currentRoleName " + _userGroupID).innerHTML.trim();
        var newRole = document.getElementById("select " + _userGroupID).value = currentRole;        
    }

    function SaveChange(_userGroupID) {
        document.getElementById("dropdownlist " + _userGroupID).style.visibility = "hidden";
        document.getElementById("currentRole " + _userGroupID).style.visibility = "visible";
        
        var newRole = document.getElementById("select " + _userGroupID).value;
        document.getElementById("currentRoleName " + _userGroupID).innerHTML = newRole;

        //save
        var url = "/Group/ChangeRole";
        $.post(url, getUserObject(_userGroupID, newRole), function (data) {
            alert(data);
        });
    }

    function CancelChange(_userGroupID) {
        document.getElementById("dropdownlist " + _userGroupID).style.visibility = "hidden";
        document.getElementById("currentRole " + _userGroupID).style.visibility = "visible";
    }

    function getUserObject(_userGroupID, _newRole) {
        var _groupId = document.getElementById("hdID").value;

        var qstr =
            {
                groupId: _groupId,
                userGroupID: _userGroupID,
                role: _newRole
            };

        return qstr;
    }

</script>

<h2>List Members</h2>
<input id="hdID" type="hidden" value="@TempData["GroupID"]" />

<br/>
<table>
    <tr style="background-color:White">
        <th width="20%">
            @Html.DisplayName("User Name")
        </th>
        <th  width="25%">
            @Html.DisplayName("Email Adress")
        </th>
        <th  width="25%">
            @Html.DisplayName("Full Name")
        </th>
        <th  width="20%">
            @Html.DisplayName("Role")
        </th>
        <th  width="10%">
            @Html.DisplayName("Remove")
        </th>
    </tr>

@foreach (var item in Model) {
    <tr id="@item.UserGroupID" style="background-color:White;border: 1px solid #DDDCDC">
        <td  width="20%">
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td  width="25%">
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td  width="25%">
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td  width="20%">
            @if(TempData["UserRole"].Equals("Owner"))
            {
                <div id="currentRole @item.UserGroupID" style="display:block;">
                    <div id="currentRoleName @item.UserGroupID">
                        @Html.DisplayFor(modelItem => item.Role)
                    </div>
                    <a href="javascript:{}" onclick="BeginChange('@item.UserGroupID')">Change</a>
                </div>

                <div id="dropdownlist @item.UserGroupID" style="visibility:hidden; float:left;">
                    <select id="select @item.UserGroupID">
                        <option>Manager</option>
                        <option>Member</option>
                    </select>
                    <div>
                        <a href="javascript:{}" onclick="SaveChange('@item.UserGroupID')">Save</a>
                        <a href="javascript:{}" onclick="CancelChange('@item.UserGroupID')">Cancel</a>
                    </div>
                </div>
            }
            else
            {
                @Html.DisplayFor(modelItem => item.Role)
            }
        </td>
        <td  width="10%">
            <a href="javascript:{}" onclick="remove('@item.FullName', '@item.UserGroupID');">Remove</a>
        </td>
    </tr>
}
</table>
