@model IEnumerable<UIT.NoSQL.Web.Models.ListUserModels>
@{
    Layout = null;
}
@{
    ViewBag.Title = "Member";
}
<script type="text/javascript">
    function remove(_fullname, _id){
        
        var confirm = window.confirm('Are you sure to remove ' + _fullname + ' ?');
        if (confirm == true) {
            $.post("/Group/RemoveMember", { id: _id }, function (data)
            {
                if (data == "success") {
                    $("#" + _id).remove();
                }
                alert(data);
            });
        }
    }
</script>

<h2>List Members</h2>
<br/>
<table>
    <tr style="background-color:White">
        <th width="20%">
            @Html.DisplayName("User Name")
        </th>
        <th  width="25%">
            @Html.DisplayName("Email Adress")
        </th>
        <th  width="25%">
            @Html.DisplayName("Full Name")
        </th>
        <th  width="20%">
            @Html.DisplayName("Role")
        </th>
        <th  width="10%">
            
        </th>
    </tr>

@foreach (var item in Model) {
    <tr id="@item.UserGroupID" style="background-color:White;border: 1px solid #DDDCDC">
        <td  width="20%">
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td  width="25%">
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td  width="25%">
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td  width="20%">
            @Html.DisplayFor(modelItem => item.Role)
        </td>
        <td  width="10%">
            <a href="javascript:{}" onclick="remove('@item.FullName', '@item.UserGroupID');">Remove</a>
        </td>
    </tr>
}
</table>
