@model UIT.NoSQL.Core.Domain.TopicObject

@{
    ViewBag.Title = "Detail";
}

@section LeftMenu {
    <section id="leftmenu">
        @Html.Action("LeftMenu", "Home", new{id = @Model.GroupId})
    </section>
}

@section menu {
    <section id="topmenu">
        @Html.Action("TopMenuUser", "Group", new{id = @Model.GroupId, action = "topic"})
    </section>
}

        @*<script type="text/javascript" src="../../Scripts/jquery-1.6.2.js"></script>
        <script type="text/javascript" src="../../Scripts/jquery-1.6.2.min.js"></script>
        <script type="text/javascript" src="../../Scripts/jquery.tmpl.js"></script>
        <script type="text/javascript" src="../../Plugin/ckeditor/ckeditor.js"></script>
        <script type="text/javascript" src="../../Scripts/jquery-ui-1.8.11.js"></script>
        <script type="text/javascript" src="../../Scripts/knockout-2.0.0.js"></script>*@
        <script type="text/javascript" src="../../Scripts/jquery.tmpl.js"></script>

        <script type="text/javascript">
            var userId, isMember;
            var editor, html = '';
            var id = 1;
            function createEditor() {
                if (editor)
                    return;
                
                // Create a new editor inside the <div id="editor">, setting its value to html
                var dateAndUser = $('#dateAndUser').html();
                html = '<p></p>' +
                    '<div class="hideContent" style="display:none"></div>'+ // cái này làm cờ tách phần content và parentcontent
                    dateAndUser + 
                    '<blockquote style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; margin: 0px 0px 0px 0.8ex; border-left-width: 1px; border-left-color: rgb(204, 204, 204); border-left-style: solid; padding-left: 1ex; ">' + 
                    $('#content').html() +
                    '</blockquote>';
                var config = { startupFocus: true };
                editor = CKEDITOR.appendTo('editor', config, html);
                document.getElementById('fullEditor').style.display = '';


            }
            function removeEditor() {
                if (!editor)
                    return;

                // Retrieve the editor contents. In an Ajax application, this data would be
                // sent to the server or used in any other way.
                //document.getElementById('editorcontents').innerHTML = html = editor.getData();
                //document.getElementById('contents').style.display = '';

                // Destroy the editor.
                editor.destroy();
                editor = null;
                document.getElementById('fullEditor').style.display = 'none';
            }

            var flag1 = '<div class="hideContent"', flag2 = '</div>';
            var content = '', parentContent = '';
            function addComment() {
                $("#message").hide();
                $("#message").stop().css({ opacity: 1 }).clearQueue();
                $("#message").html("Replying...");
                $("#message").show();

                url = "/Topic/AddComment";
                var topicId = document.getElementById('topicId').value;
                var fullContent = editor.getData(); // fullContent = content + parentContent
                content = fullContent.slice(0, fullContent.search(flag1));
                parentContent = fullContent.slice((fullContent.search(flag2) + 6),fullContent.length-1);
                $.post(url, { Id: topicId, content: content, parentContent: parentContent }, function (data) {
                    $("#message").html("Sent.").show().animate({ opacity: 1.0 }, 2000).fadeOut(4000); ;
                    removeEditor();
                    $("#commentTemplate").tmpl(data, { getCreateDate: parseMicrosoftJsonDateTime(data.CreateDate), compareUserId: compareUserId(data.CreateBy.Id) }).appendTo("#listComment");
                });
                
            }
            function getTopicById() {
                url = "/Topic/GetById";
                var topicId = $('#topicId').val();
                $.getJSON(url, { id: topicId }, function (data) {
                    $('#topicName').html(data.TopicName);
                    $('#content').html(data.Content);
                    $('#createBy').html(data.CreateBy.FullName);
                    $('#createDate').html(parseMicrosoftJsonDateTime(data.CreateDate));
                    if (data.ListComment != 0) {
                        $.each(data.ListComment, function (key, value) {
                            if (value.isDeleted == false) {
                                $("#commentTemplate").tmpl(value, { getCreateDate: parseMicrosoftJsonDateTime(value.CreateDate), compareUserId : compareUserId(value.CreateBy.Id) }).appendTo("#listComment");
                            }
                            else
                                $("#listComment").append('<div tabindex="0" style="border-top: 1px solid #DDD;padding: 4px;text-align: center;background-color: #D1CCCC;"><span>Bài viết này đã bị xóa.</span></div> ');
                        });
                    }
                });
            }

            $(document).ready(function () {
                //test
                //$('#fullEditor').attr('disabled','disabled');

                userId = $('#userId').val();
                isMember = $('#isMember').val();
                getTopicById();

                $('.REPLYBUTTON').live('click', function () {
                    if (editor)
                        return;
                    var divMainComment = $(this).parents('.mainComment');
                    var divFullSubEditor = divMainComment.children('.footerComment').children('.fullSubEditor');
                    var divSubEditor = divFullSubEditor.find('.subEditor');
                    divSubEditor.attr("id", "subEditor" + id);
                    var divComment = divMainComment.children('.bodyComment').children('.divComment');

                    var html = '<p></p>' +
                        '<div class="hideContent" style="display:none"></div>' + // cái này làm cờ tách phần content và parentcontent
                        divComment.find('.dateAndUser').html() +
                        '<blockquote style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; margin: 0px 0px 0px 0.8ex; border-left-width: 1px; border-left-color: rgb(204, 204, 204); border-left-style: solid; padding-left: 1ex; ">' +
                        divComment.find('.comment').html() +
                        divComment.find('.parentComment').html() +
                        '</blockquote>';
                    var config = { startupFocus: true };
                    editor = CKEDITOR.appendTo('subEditor' + id, config, html);
                    divFullSubEditor.attr('style', 'display:""');
                    id += 1;
                });

                $('.addComment').live('click', function () {
                    var _this = $(this);
                    $("#message").hide();
                    $("#message").stop().css({ opacity: 1 }).clearQueue();
                    $("#message").html("Replying...");
                    $("#message").show();

                    url = "/Topic/AddComment";
                    var topicId = document.getElementById('topicId').value;
                    var fullContent = editor.getData(); // fullContent = content + parentContent
                    content = fullContent.slice(0, fullContent.search(flag1));
                    parentContent = fullContent.slice((fullContent.search(flag2) + 6), fullContent.length - 1);
                    $.post(url, { Id: topicId, content: content, parentContent: parentContent }, function (data) {
                        $("#message").html("Sent.").show().animate({ opacity: 1.0 }, 2000).fadeOut(4000);
                        //remove editor
                        if (!editor)
                            return;
                        editor.destroy();
                        editor = null;
                        _this.parent().hide();

                        $("#commentTemplate").tmpl(data, { getCreateDate: parseMicrosoftJsonDateTime(data.CreateDate), compareUserId: compareUserId(data.CreateBy.Id) }).appendTo("#listComment");
                    });

                });
                $('.hideSubEditor').live('click', function () {
                    if (!editor)
                        return;
                    editor.destroy();
                    editor = null;
                    $(this).parent().hide();
                });

                // hien thi noi dung trich dan
                $('.aShowHideParentComment').live('click', function () {
                    var divTemp = $(this).parent().find('.divShowHideParentComment');
                    if ($(this).text() == "-hiển thị nội dung trích dẫn-") {
                        divTemp.attr('style', 'display:""');
                        $(this).text('-ẩn nội dung trích dẫn-');
                    }
                    else {
                        divTemp.attr('style', 'display:none');
                        $(this).text('-hiển thị nội dung trích dẫn-');
                    }

                });

                // xoa comment 
                $('.DELETECOMMENT').live('click', function () {
                    var _this = $(this);
                    $("#message").hide();
                    $("#message").stop().css({ opacity: 1 }).clearQueue();
                    $("#message").html("Deleting...");
                    var checkstr = confirm('Are you sure you want to delete this?');
                    if (checkstr == true) { 
                        $("#message").show();

                        // xoa comment
                        var commentId = $(this).next().val();
                        var url = "/Topic/DeleteComment";
                        var topicId = document.getElementById('topicId').value;
                        $.post(url, { topicId: topicId, commentId: commentId }, function (data) {
                            if (data == "success") {
                                $("#message").html("Deleted.").show().animate({ opacity: 1.0 }, 2000).fadeOut(4000);
                                $('<div tabindex="0" style="border-top: 1px solid #DDD;padding: 4px;text-align: center;background-color: #D1CCCC;"><span>Bài viết này đã bị xóa.</span></div> ').replaceAll(_this.parents('.mainComment'));
                            }
                        });
                        
                    } else {
                        return false;
                    }
                });
            });

            function parseMicrosoftJsonDateTime(content) {
                try {
                    content = content.replace(/\//g, '');
                    var contentDate = eval('new ' + content);
                    return contentDate.toDateString()  + ' ' + contentDate.toTimeString();
                    //return contentDate.toLocaleString();
                } catch (ex) {
                    return content;
                }
            }

            function compareUserId(paraUserId) {
                if (paraUserId == userId)
                    return true;
                return false;
            }


	</script>
    <script id="commentTemplate" type="text/x-jquery-tmpl"> 
        <!--style="color: rgb(0, 104, 28); font-weight: bold"-->
        <div tabindex="0" class="mainComment" style="border-top: 1px solid #DDD">
            <div tabindex="0" class="titleComment" style="margin-top: 10px">
                <table cellpadding="0" cellspacing="0" width="80%">
                    <tbody>
                        <tr>
                            <td valign="top" width="5%">
                                <img src="https://groups.google.com/forum/clear.cache.gif" style="background-image: url(/Images/gm_icon.png); width: 34px; height: 34px; background-position: -128px 0px; background-repeat: no-repeat no-repeat; " border="0">
                            </td>
                            <td align="left" class="GI2MSK2DP1" width="15%">
                                <span style="color: rgb(0, 104, 28);font-weight:bold">${CreateBy.FullName}</span>
                             </td>
                             <td align="right" width=70%">
                                <span>${$item.getCreateDate}</span> 
                                <span class="BUTTONSTYLE REPLYBUTTON">Post Reply</span>
                             </td>
                             <td align="left" width="10%">
                                {{if !isMember}}
                                    <span class="BUTTONSTYLE DELETECOMMENT">Delete</span>
                                    <input type="hidden" value="${Id}">
                                {{else $item.compareUserId }}
                                    <span class="BUTTONSTYLE DELETECOMMENT">Delete</span>
                                    <input type="hidden" value="${Id}">
                                {{/if}}

                             </td>
                        </tr>
                    </tbody>                 
                </table>
            </div>
            <div tabindex="0" class="bodyComment" style="margin-left: 40px">
                <div class = "divComment">
                    <span class="dateAndUser" style="display:none">Vào <span>${$item.getCreateDate}</span>, <span>${CreateBy.FullName}</span> đã viết:<br/></span>
                    <span class="comment">{{html Content}}</span>
                    <a class="aShowHideParentComment" href="#" style="text-decoration:none;cursor: pointer;color: #500050;font-size: 10px;">-hiển thị nội dung trích dẫn-</a>
                    <div class="divShowHideParentComment" style="display:none">
                        <span class="parentComment" style="color: #500050;">{{html ParentContent}}</span>
                    </div>
                </div>
            </div>
            <div tabindex="0" class="footerComment" style="margin-left: 40px">
                <div class = "fullSubEditor" style="display: none">
                    <!--<a href="#" class="addComment">Đăng</a>
                    <a href="#" class="hideSubEditor">Hủy</a>-->
                    <span class="addComment"><span class="BUTTONSTYLE SUBMITEDITOR">Đăng</span></span>
                    <span class="hideSubEditor"><span  class="BUTTONSTYLE CANCELEDITOR">Hủy</span></span>
                    <div class="subEditor" style="margin-bottom:4px;margin-top:4px">                    
	                </div>
                    <span class="addComment"><span class="BUTTONSTYLE SUBMITEDITOR">Đăng</span></span>
                    <span class="hideSubEditor"><span  class="BUTTONSTYLE CANCELEDITOR">Hủy</span></span>
                </div>  
            </div>
        </div>     
    </script>

        
        <br/>
        <input id="topicId" type="hidden" value="@Model.Id" />
        <input id="userId" type="hidden" value="@ViewBag.UserId" />
        <input id="isMember" type="hidden" value="@ViewBag.IsMember" />

        <input id="time" type="hidden" value="@ViewBag.time" />

        <div id="topic" tabindex="0">
            <span id="topicName" style="font-weight:bold;font-size:large; color:Black"></span><br/><br/>
            <span id="dateAndUser" >At <span id="createDate"></span>, <span id="createBy" style="color: rgb(0, 104, 28);font-weight:bold"></span> wrote:</span><br />
            <div tabindex="0">
                <span id="content"></span><br />
            </div>
        </div>

        <!-- This div will hold the editor. -->
        <div id = "fullEditor" style="display:none">
            <span class="BUTTONSTYLE SUBMITEDITOR"  onclick="addComment()">Post</span>
            <span class="BUTTONSTYLE CANCELEDITOR"  onclick="removeEditor()">Cancel</span>
            <div id="editor" style="margin-bottom:4px;margin-top:4px">
	        </div>
            <span class="BUTTONSTYLE SUBMITEDITOR"  onclick="addComment()">Post</span>
            <span class="BUTTONSTYLE CANCELEDITOR" onclick="removeEditor()">Cancel</span>
        </div>
        <div id = "listComment">
        </div>




